@model IEnumerable<Product>

<style>
    .custom-card {
        height: 300px; /* Adjust the desired fixed height */
    }
    .image-container {
        overflow: hidden;
        padding-top: 96%;
        position: relative;
    }
    .image-container img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a href="@Url.Action("Details", "Home", new { productId = product.productId })">
                    <div class="card custom-card border-0 shadow border-top border-5 rounded mb-3">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="image-container">
                                    <img src="@product.imageUrl" class="card-img-top rounded"/>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="pl-1">
                                            <p class="card-title text-warning">Highlights</p>
                                            <ul>
                                                @foreach (var highlight in @product.productHighlights.Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.RemoveEmptyEntries))
                                                {
                                                    <li>@highlight</li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="pl-1">
                                            <p class="card-title h5 text-dark opacity-100 text-uppercase" style="font-size: 50px; margin-bottom: 30px;">
                                                <strong>@product.productTitle</strong>
                                            </p>
                                            <p class="text-dark opacity-75">At <b>@product.productLocation</b></p>
                                        </div>
                                        <div class="pl-1">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p class="card-title h5 text-dark opacity-100 text-uppercase">Price: <span>@product.displayPrice.ToString("c")</span></p>
                                                    <p class="text-dark opacity-75">Max Plus Ones Allowed <b>@product.plusOnesAllowed</b></p>
                                                    
                                                    @{
                                                        DateTimeOffset productDate = product.productDateAdded;
                                                        DateTimeOffset currentDate = DateTime.Now;
                                                        TimeSpan timeSinceAdded = currentDate - productDate;
                                                        int daysAgo = (int)timeSinceAdded.TotalDays;
                                                    }
                                                    <p class="text-dark opacity-75">Added <b>@daysAgo</b> days ago</p>

                                                    <p class="text-dark opacity-75">Added <b>@product.productDescription</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>