@model LinkUp_Web.Models.ViewModels.ProductVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.productTitle" class="form-control border-0 shadow">
                            <label asp-for="Product.productTitle" class="ms-2"></label>
                            <span asp-validation-for="Product.productTitle" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <textarea asp-for="Product.productDescription" class="form-control border-0 shadow"></textarea>
                            <label asp-for="Product.productDescription" class="ms-2 text-muted"></label>
                            <span asp-validation-for="Product.productDescription" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <textarea asp-for="Product.productHighlights" class="form-control border-0 shadow" style="resize: none;" rows="5"></textarea>
                            <label asp-for="Product.productHighlights" class="ms-2"></label>
                            <span asp-validation-for="Product.productHighlights" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.supplierPrice" class="form-control border-0 shadow">
                            <label asp-for="Product.supplierPrice" class="ms-2"></label>
                            <span asp-validation-for="Product.supplierPrice" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.DisplayPrice" class="form-control border-0 shadow">
                            <label asp-for="Product.DisplayPrice" class="ms-2"></label>
                            <span asp-validation-for="Product.DisplayPrice" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <label asp-for="Product.CategoryId" class="ms-2"></label>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Product.CompanyId" asp-items="@Model.CompanyList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <label asp-for="Product.CompanyId" class="ms-2"></label>
                            <span asp-validation-for="Product.CompanyId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="file" class="form-control border-0 shadow">
                            <label asp-for="Product.ImageUrl" class="ms-2"></label>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="date" asp-for="Product.productStartDate" class="form-control border-0 shadow">
                            <label asp-for="Product.productStartDate" class="ms-2"></label>
                            <span asp-validation-for="Product.productStartDate" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="date" asp-for="Product.productEndDate" class="form-control border-0 shadow">
                            <label asp-for="Product.productEndDate" class="ms-2"></label>
                            <span asp-validation-for="Product.productEndDate" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.productLocation" class="form-control border-0 shadow">
                            <label asp-for="Product.productLocation" class="ms-2"></label>
                            <span asp-validation-for="Product.productLocation" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.MinUsers" class="form-control border-0 shadow">
                            <label asp-for="Product.MinUsers" class="ms-2"></label>
                            <span asp-validation-for="Product.MinUsers" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.MaxUsers" class="form-control border-0 shadow">
                            <label asp-for="Product.MaxUsers" class="ms-2"></label>
                            <span asp-validation-for="Product.MaxUsers" class="text-danger"></span>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border form-control">
                                    Back To List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.Product.ImageUrl" width="100%" 
                        style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts{
    @* <script> *@
    @*     tinymce.init({ *@
    @*         selector: 'textarea', *@
    @*         plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss', *@
    @*         toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat', *@
    @*         tinycomments_mode: 'embedded', *@
    @*         tinycomments_author: 'Author name', *@
    @*         mergetags_list: [ *@
    @*             { value: 'First.Name', title: 'First Name' }, *@
    @*             { value: 'Email', title: 'Email' }, *@
    @*         ] *@
    @*     }); *@
    @* </script> *@
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}