@model List<Product>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Product
                </a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Date Added</th>
                        <th>Product Title</th>
                        <th>Product Highlights</th>
                        <th>Display Price</th>
                        <th>Supplier Price</th>
                        <th>Product Category</th>
                        <th>Product Location</th>
                        <th>Plus One's Allowed</th>
                        <th>Product Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.OrderBy(p => p.productDateAdded))
                    {
                        <tr>
                            <td>@product.productDateAdded</td>
                            <td>@product.productTitle</td>
                            <td>@product.productHighlights</td>
                            <td>@product.displayPrice</td>
                            <td>@product.supplierPrice</td>
                            <td>@product.category</td>
                            <td>@product.productLocation</td>
                            <td>@product.NumberOfAttendees</td>
                            <td>
                                <img src="@product.imageUrl" alt="Product Image" width="100">
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.productId" class="btn btn-primary">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.productId" class="btn btn-danger">
                                        <i class="bi bi-trash-fill"></i> Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
