@model List<BookingHeader>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>

    <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Booked At</th>
                        <th>Product Title</th>
                        <th>Booked For</th>
                        <th>Order Total</th>
                        <th>Order Status</th>
                        <th>Payment Status</th>
                        <th>Number Of Attendees</th>
                        <th>Customers Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.OrderBy(p => p.dateBooked))
                    {
                        <tr>
                            <td>@product.dateBooked</td>
                            @* <td>@product.productTitle</td> *@
                            <td>@product.bookingDateTime</td>
                            <td>@product.orderTotal</td>
                            <td>@product.orderStatus</td>
                            @* <td>@product.paymentStatus</td> *@
                            @* <td>@product.productEndDate</td> *@
                            <td>@product.applicationUser</td>
                            @* <td>@product.productLocation</td> *@
                            
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-controller="" asp-action="" asp-route-id="@product.Id" class="btn btn-primary">
                                        <i class="bi bi-pencil-square"></i> Manage
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>